$primary: #d62923;
$dark-primary: #bc444c;
$light-primary: #c0a18e;
$text: #FFFFFF;
$primary-text: #000000;
$secondary-text: #9d745b;
$accent: #FF4081;

section {
  padding-top:1px;

}

html, body {
  overflow-x: hidden;
}



.timeline {
	padding-top: 0px;
	position: relative;

	&::before {
		content: '';
		background: $light-primary;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.timeline-item {
	width: 100%;
	margin-bottom: 70px;

	&:nth-child(even) {

		.timeline-content {
			float: right;
			padding: 40px 30px 10px 30px;

			.date {
				right: auto;
				left: 0;
			}

			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent #f5f5f5 transparent transparent;
			}
		}
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}


.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent #f5f5f5;
	}
}

.timeline-img {
	width: 30px;
	height: 30px;
	background: $primary;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}

.but {
	background: $primary;
	color: $text;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);

	&:hover, &:active, &:focus {
		background: darken($primary, 10%);
		color: $text;
		text-decoration: none;
	}

}

.timeline-card {
	padding: 0!important;

	p {
		padding: 0 20px;
	}

	a {
		margin-left: 20px;
	}
}

.timeline-item {
  .timeline-img-header-hc {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .8)), url('../images/hc.png'), center center no-repeat;
			background-size: cover;
		}
  .timeline-img-header-vk {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .8)), url('../images/vk.png'), center center no-repeat;
			background-size: cover;
		}

  .timeline-img-header-tvt1 {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .8)), url('../images/tivit1.png'), center center no-repeat;
			background-size: cover;
		}
  .timeline-img-header-tvt2 {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('../images/tivit2.png'), center center no-repeat;
			background-size: cover;
		}  
  .timeline-img-header-open1 {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .8)), url('../images/cards.jpg'), center center no-repeat;
			background-size: cover;
		}	
	.timeline-img-header-open2 {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .8)), url('../images/digitalpayments.jpg'), center center no-repeat;
			background-size: cover;
		}	
	.timeline-img-header-carta {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .1)), url('../images/map.jpg'), center center no-repeat;
			background-size: cover;
			}	

}

.timeline-img-header {

	height: 200px;
	position: relative;
	margin-bottom: 20px;

	h2 {
		color: $text;
		position: absolute;
		font-size: 1.2em;
		bottom: 5px;
		left: 20px;
	}
	
}

.timeline-content {

	h3 {
		font-size: 1.1em;
	}
	h4 {
		font-size: 1em;
	}
}


blockquote {
	margin-top: 30px;
	color: $secondary-text;
	border-left-color: $primary;
	padding: 0 20px;
}

.date {
	background: $accent;
	display: inline-block;
	color: $text;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}



@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

		.timeline-img {
			left: 50px;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}

		.timeline-item {

			&:nth-child(even) {

				.timeline-content {
					float: none;

				}
			}

			&:nth-child(odd) {

				.timeline-content {
					
					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent #f5f5f5 transparent transparent;
					}
				}

			}
		}
	}
	
}
